{% extends 'base.html.twig' %}

{% block body %}
    {% include 'back.html.twig' with {'path': 'article_controller_index'} %}
    <div class="row">
        <div class="col-sm">
            <p>
                {{ article.name }} - {{ article.content }}
            </p>
        </div>
    </div>
{% endblock %}

{% block title %}
    Show article
{% endblock %}

