{% extends '../base.html.twig' %}

{% block body %}
    <h1>Mettre à jour l'article {{ article.name }}</h1>
    {{ form(form) }}
{% endblock %}

{% block title %}
    Mettre à jour l'article {{ article.name }}
{% endblock %}

